@model rincon.Models.usuarioModel



<div class="container text-center w-75">
  <h1>Registrarse</h1>
  <form asp-action="Register" asp-controller="Usuario" method="post">

    <div class="form-group">
      <label for="Usuario_Nombre">Nombre</label>
      <input type="text" class="form-control" id="Usuario_Nombre" name="Usuario_Nombre" asp-for="Usuario_nombre"
        required />
      <span asp-validation-for="Usuario_nombre" class="text-danger"></span>

    </div>

    <div class="form-group">
      <label for="Usuario_Apellido">Apellido</label>
      <input type="text" class="form-control" id="Usuario_Apellido" name="Usuario_Apellido" asp-for="Usuario_apellido"
        required />
      <span asp-validation-for="Usuario_apellido" class="text-danger"></span>

    </div>

    <div class="form-group">
      <label for="Usuario_Correo">Correo</label>
      <input type="text" class="form-control" id="Usuario_Correo" name="Usuario_Correo" asp-for="Usuario_correo"
        required />
      <span asp-validation-for="Usuario_correo" class="text-danger"></span>

    </div>

    <div class="form-group">
      <label for="Usuario_Contraseña">Contraseña</label>
      <input type="text" class="form-control" id="Usuario_Contraseña" name="Usuario_Contraseña"
        asp-for="Usuario_contraseña" required />
      <span asp-validation-for="Usuario_contraseña" class="text-danger"></span>

    </div>
  </form>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

  }
}